---
title: "Jade Tasks, Tasks made easy!"
layout: splash
date: 2016-03-23T11:48:41-04:00
header:
  overlay_color:  "#000"
  overlay_filter: # "0.5"
  overlay_image: /assets/images/jade-copy.png
  actions:
    - label: "Download"
      url: "https://apps.apple.com/app/apple-store/id1639946142?pt=119369382&ct=atpsoft.com&mt=8"
excerpt: "<center>Our motto is: Task Yourself!   All goals start with small tasks that cumulate in a final product.  Weather its doing laundry to have clean clothes or mowing the lawn to enjoy later while relaxing or 
saving money for a weekend getaway.  These small tasks add up and make your life more enjoyable.  Jade Tasks is here to help with keeping you organized so that those small and large tasks wont overwhelm you!</center>"
intro: 
  - excerpt: 'Here is a few points about our task management philosophy, so you can decide if it sounds like a good fit for you. We categorize tasks first based on urgency and importance: low, medium, high. 
  The purpose of JadeTasks is to help us accomplish not only the urgent tasks but also the myriad of tasks that are important to us but that do not have specific deadlines or urgency. We are able 
  to accomplish this somewhat with the current version, but it is a work in progress, and expect the interface to change quite a bit over the next few months at least. We know there are plentiful to-do list 
  apps available already with satisfied customers. But if you are not one of them, please install JadeTasks. Give it a try: offer suggestions, request features, complain about bugs. Help us make it as useful 
  for you as it is for us. We will be listening.'
feature_row:
  - image_path: assets/images/Simulator Screen Shot - SS2 - 6.5" - iPhone 11 Pro Max  - 2023-03-11 at 09.04.43.png
    alt: "Task Details"
    title: "Task Details"
    excerpt: "The current view of the active task screen."
  - image_path: /assets/images/Simulator Screen Shot - SS2 - 6.5" - iPhone 11 Pro Max  - 2023-03-11 at 09.04.57.png
    alt: "lists"
    title: "Current view of the lists screen"
    excerpt: "From this view you can manage all your tasks details"
  - image_path: /assets/images/Simulator Screen Shot - SS2 - 6.5" - iPhone 11 Pro Max  - 2023-03-11 at 09.05.02.png
    title: "Active Task view"
    excerpt: "Detail view of an active task."
feature_row2:
  - image_path: /assets/images/Simulator Screen Shot - SS2 - 6.5" - iPhone 11 Pro Max  - 2023-03-11 at 09.05.10.png
    alt: " Scheduling tasks"
    title: "Scheduling tasks"
    excerpt: 'View of the search for scheduled tasks'
    btn_label: "Read More"
    btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}

{% include feature_row id="feature_row2" type="left" %}
